@page "/"
@inject AuthenticationStateProvider authStateProvider

<h1>Hello there, @userName!</h1>

<p>
This page will eventually contain an overview of all the motorcyles I (used to) own!
Enjoy browsing through them :)
</p>

🏍️

@code {
    private string userName = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity.IsAuthenticated ? user.Identity.Name : "General Kenobi";
    }
}