@page "/"
@inject HttpClient httpClient

<h1>Hello, there!</h1>

<p>
This page will eventually contain an overview of all the motorcyles I (used to) own!
Enjoy browsing through them :)
</p>

🏍️

<br />

<button class="btn btn-primary" @onclick="CallAzureFunction">Test Azure Function</button>
<p>Message: @FunctionValue</p>

@code {
    private string FunctionValue {get;set;} = string.Empty;

    private async Task CallAzureFunction()
    {
        FunctionValue = await httpClient.GetStringAsync("/api/motorcycles");
    }
}