@page "/"
@inject HttpClient httpClient
@using System.Text.Json

<AuthorizeView>
    <Authorized>
        <h1>Hello there, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello there, anonymous!</h1>
    </NotAuthorized>
</AuthorizeView>

<p>
This page will eventually contain an overview of all the motorcyles I (used to) own!
Enjoy browsing through them :)
</p>

🏍️

<br />
<br />

<button class="btn btn-primary" @onclick="RequestMotorcycles">Get Motorcycles</button>

<br />
<br />

<ul>
    @if (motorcycles != null)
    {
        foreach (var moto in motorcycles)
        {
            <li>
                @moto.Make - @moto.Model - @moto.BuildYear
            </li>
        }   
    }
</ul>

@code {
    private List<MotorcycleDto> motorcycles;

    private async Task RequestMotorcycles()
    {
        var response = await httpClient.GetStringAsync("/api/motorcycles");
        if (!string.IsNullOrEmpty(response))
        {
            motorcycles = JsonSerializer.Deserialize<List<MotorcycleDto>>(response);
        }
    }
}